body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 20px 20px 60px;
  margin: 0 auto;
}

.mark-highlight {
  display: inline-block;
  border-radius: 4px;
  outline: dotted 1px;
  transition: 0.2s;
}
.mark-highlight:hover {
  transform: scale(1.5);
}
