*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 20px 20px 60px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.mark-highlight {
  display: inline-block;
  border-radius: 4px;
  outline: dotted 1px;
  transition: 0.2s;
}
.mark-highlight:hover {
  transform: scale(1.5);
}

/* one backtick pair is wrapped with the code tag */
code {
  background-color: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

.ch-section-link {
  background-color: rgba(191, 191, 191, 0.2);
  background-color: rgba(255, 0, 0, 0.2);
  padding: 0 5px;
}

/* Must select all to apply for markdown list-items rendered by MDX  */
.wv-content__container li {
  margin-left: 1em;
}
