/* MUI palette */
:root {
  --info-lighter: #d0f2ff;
}

/* MUI global csss */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

strong,
b {
  font-weight: 700;
}

body {
  margin: 0;
  color: #212b36;
  line-height: 1.5;
  font-size: 1rem;
  font-family: Public Sans, sans-serif;
  font-weight: 400;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #212b36;
}
p {
  padding-bottom: 0.8em;
}
h1 {
  padding-bottom: 1em;
}
h2 {
  padding-bottom: 1em;
}

@media print {
  body {
    background-color: #fff;
  }
}

body::backdrop {
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body {
  width: 100%;
  height: 100%;
}
#__next {
  width: 100%;
  height: 100%;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
img {
  display: block;
  max-width: 100%;
}

.mark-highlight {
  display: inline-block;
  border-radius: 4px;
  outline: dotted 1px;
  transition: 0.2s;
}
.mark-highlight:hover {
  transform: scale(1.5);
}

/* one backtick pair is wrapped with the code tag */
code {
  background-color: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  padding: 0.2em 0.4em;
  border-radius: 3px;
}

/* responsive iframe wrapper */
.iframe-wrapper {
  border: none;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.iframe-wrapper iframe {
  position: absolute;
  border-radius: 5px;
  box-shadow: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
ol {
  padding: 1em;
}
/* Styled Components */
.page-footer {
  height: 20vh;
}
